#contenedor{
    width: 232px;
    height: 217px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px; 

}

#contenedor2{
    width: 250px;
    height: 220px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px; 

}

#contenedor3{
    width: 250px;
    height: 220px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px; 

}

body {
	margin: 0;
	padding: 0;
	background-image: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position:center;
  background-attachment: fixed;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
}

body::before{
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(blue,orange);
  opacity: 0.6;

  z-index: -1;
}

div#memory_board {
	background: #eccd6a; /*rgb(128, 91, 91);*/
	border: #000 1px solid;
	width: 750px;
	height: 350px;
	padding: 24px;
	margin: 0px auto;
}

div#memory_board > div {
	background: url("../img/donde.jpg");
	border: #000 2px solid;
	border-radius: 10px;
	width: 200px;
	height: 120px;
	float: left;
	margin: 10px;
	padding: 20px;
	cursor: pointer;
}
img

h1, h3 {
	text-align: center;
	color: #fff ;
	
}
h1 {
	margin-top: 40px;
}
.contenedor{
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -250px;
}


.encabezado {
    position: relative;
    background: white;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
  }

  .categoria {
    opacity: 0.3;
    text-align: left;
  }

  .pregunta {
    padding: 10px;
  }

  .imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
  }

  .btn {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.05);
  }
  
  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }
  
  .puntaje{
    padding:10px;
    color:white;
  }

  .item{
    float: left;
  }
.container{
  overflow: hidden;
}
